











/* Add your CSS styles here */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: rgb(6, 3, 3);
    color: rgb(204, 18, 126);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 18px;
  }
  
  header nav {
    display: flex;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-left: 20px;
  }
  
  header nav a:hover {
    color: #eee;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #eee;
    color: #888;
    font-size: 12px;
    text-align: center;
    padding: 20px;
  }
  